<html>

<head>
    <meta charset="UTF-8">

    <title>CS3-InClass</title>

</head>

<body>

    <h1> This line demonstrates H1 </h1>
    <h2> This line demonstrates H2 </h2>
    <h3> This line shows how H3 will be different from H1 and H2 </h3>

    <hr>

    <h1>Quote One from Winston Churchill </h1>
    <p>
        Criticism may not be agreeable, but it is necessary. It fulfils the same function as pain in the human body. It
        calls attention
        to an unhealthy state of things.
    </p>

    <h3>Quote Two from Winston Churchill </h3>

    <p>
        Courage is rightly esteemed the first of human qualities... because it is the quality which guarantees all
        others. Courage
        is what it takes to stand up and speak; courage is also what it takes to sit down and listen.
    </p>


    <h2> Quote Three from Winston Churchill</h2>
    <h3> This paragraph will have a border</h3>
    <p>
        Continuous effort - not strength or intelligence - is the key to unlocking our potential.
    </p>
    <hr>
    <p>
        The tiger (Panthera tigris) is the largest cat species, reaching a total body length of up to 3.3 metres (11
        ft) and weighing
        up to 306 kg (670 lb). It is the third largest land carnivore (behind only the Polar bear and the Brown
        bear).
        Its most recognizable feature is a pattern of dark vertical stripes on reddish-orange fur with lighter
        underparts.
        It has exceptionally stout teeth, and the canines are the longest among living felids with a crown height of
        as much as 74.5 mm (2.93 in) or even 90 mm (3.5 in). [4] In zoos, tigers have lived for 20 to 26 years,
        which
        also seems to be their longevity in the wild.[5] They are territorial and generally solitary but social
        animals,
        often requiring large contiguous areas of habitat that support their prey requirements. This, coupled with
        the
        fact that they are indigenous to some of the more densely populated places on Earth, has caused significant
        conflicts
        with humans. Tigers once ranged widely across Asia, from Turkey in the west to the eastern coast of Russia.
        Over
        the past 100 years, they have lost 93% of their historic range, and have been extirpated from southwest and
        central
        Asia, from the islands of Java and Bali, and from large areas of Southeast and Eastern Asia. Today, they
        range
        from the Siberian taiga to open grasslands and tropical mangrove swamps. The remaining six tiger subspecies
        have
        been classified as endangered by IUCN. The global population in the wild is estimated to number between
        3,062
        to 3,948 individuals, down from around 100,000 at the start of the 20th century,[6] with most remaining
        populations
        occurring in small pockets that are isolated from each other. Major reasons for population decline include
        habitat
        destruction, habitat fragmentation and poaching.[1] The extent of area occupied by tigers is estimated at
        less
        than 1,184,911 km2 (457,497 sq mi), a 41% decline from the area estimated in the mid-1990s.[7]
    </p>
</body>

</html>