<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>CS11 - Intro to JavaScript</title>

    <style type="text/css">
        /* h1 {
            font-weight: bold;
            background-color: Silver;
        }

        p {
            text-align: center;
        } */
    </style>

    <script type="text/javascript">
        /* Your JavaScript goes here */
        function changeBackgroundColor() {
            const bgColors = ["green", "yellow", "blue", "pink", "red", "orange"];
            let n = bgColors.length;
            let randIndex = Math.floor(Math.random() * n);
            let b = document.getElementById("bodyA");
            b.style.backgroundColor = bgColors[randIndex];
        }

        function enlargeImage() {
            let myimg = document.getElementById("imgB");
            let w = myimg.style.width;
            w = parseInt(w);
            w = w + 30;
            myimg.style.width = w + "px";
        }

        function c() {
            alert("haha")
        }
    </script>
</head>

<body id="bodyA">
    <hr/>
    <h1 onclick="changeBackgroundColor()"> Don't Look - I am Changing</h1>
    <hr/>
    <img id="imgB" src="images/man.png" alt="man" style="width:30px" onmouseover="enlargeImage()"/>
    <p>
        <button onclick="c()">I dare you to click on me!</button>
    </p>
    <hr/>

</body>

</html>