<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CS13-InClass</title>
    <style type="text/css">
        h1 {
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bold;
        }

        p {
            text-align: center;
            margin-top: 50px;
        }

        img {
            border: 15px ridge yellow;
            width: 50%;
        }
    </style>


    <script type="text/javascript">


    </script>
</head>

<body>
    <h1> Changing Images Using User inputs - Click on Image below to start</h1>
    <p>
        <img src="" alt="Click here to see the image of your choice" title=""/>
    </p>
</body>

</html>