<!DOCTYPE html>
<html>

<head>

    <title>CS15-InClass2 - Temperature Converter</title>
    <style type="text/css">
        form {
            font-family: Arial;
            font-weight: bold;
            padding: 60px;
            width: 50%;
            margin-right: auto;
            margin-left: auto;
            background-color: Silver;
        }

        h1 {
            font-family: Arial;
            font-weight: bold;
            text-align: center;
        }

        div#d1 {
            margin-bottom: 40px;
        }
    </style>

</head>

<body>
    <!-- Your HTML goes here -->
    <h1> Celsius Fahrenheit Converter</h1>
    <form action="" method="post">
        <div id="d1">
            <label>
                Celsius:
                <input type="text" name="cel" size="10"/>
            </label>
            <label>
                Fahrenheit:
                <input type="text" name="far" size="10"/>
            </label>
        </div>

        <div style="margin-left:100px">
            <input type="submit" name="submit" value="Convert" style="width:80px; height:40px;"/>
            <input type="reset" name="reset" value="Clear" style="width:80px; height:40px;"/>
        </div>
    </form>


</body>

</html>