<!DOCTYPE html>
<html>

<head>
    <title>CS16-InClass2 - Windows and Drop down lists</title>
    <script type="text/javascript">

    </script>
</head>

<body>
    <h1> Illustrating Open Windows</h1>
    <form method="post">
        <label> Choose an animal:
            <select name="animal">
                <option value="null">Please select a value</option>
                <option value="wolf">Wolf</option>
                <option value="lynx">Lynx</option>
            </select>
        </label>
    </form>
</body>

</html>