<!DOCTYPE html>
<html>

<head>
    <title>Scrolling Text</title>
    <style type="text/css">
        h1 {
            text-align: center;
        }

        h2#msg {
            position: absolute;
            color: Navy;
            font-family: Arial;
            width: auto;
        }

        div {
            border: 1px solid black;
            height: 50px;
            margin-left: 300px;
            margin-right: 300px;
            background-color: Yellow;
        }
    </style>

    <script type="text/javascript">

    </script>
</head>

<body>
    <h1> Moving Text</h1>
    <div>
        <h2 id="msg">This text will move</h2>
    </div>
</body>

</html>